<div class="container userhome">
	Welcome, <%= @user.first_name %>
</div>

<div class="container">

<p> upcoming challenges <span class="badge"><%= @user.challenges.count %></span> </p>

</div>

<div class="container">

<% @user.challenges.each do |challenge| %>
	<div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="http://static.ddmcdn.com/gif/penguin-slideshow-141121-78754162.jpg">
	      <div class="caption">
	      	<h3>
	        <%= link_to challenge.name, challenge_path(challenge) %></h3>

				<%= challenge.description %>
				<%= challenge.goal_date%>
				<%= challenge.reward %>	        
	      </div>
	    </div>
	  </div>
<% end %> 
</div>

