	
	<div class="container userhome">
		Welcome, <%= @user.first_name %>
	</div>

<!-- 
	<div class="profileinfo">
		<div class="thumbnail profileimg">
			<img id="profilepic" src="<%= @user.img_url %>">
		</div>
	</div> -->



	<div class="container">

	<p id="upcoming"> upcoming challenges <span class="badge"><%= @user.challenges.count %></span> </p>

	</div>

	<div class="container">

	<% @user.challenges.each do |challenge| %>
		<div>
		  <div class="col-xs-6 col-sm-4">
		    <div class="thumbnail">
		      <img id="challengepic" src="<%= challenge.img_url %>">
		      	<h3>
		        <%= link_to challenge.name, challenge_path(challenge) %></h3>
	     
		      </div>
		    </div>
		  </div>
	<% end %> 

	</div>


