<div class="container">	
	<div id="userinfo" class="col-xs-6 col-md-4">
		<div class="userhome">
			Welcome, <b id="username"><%= @user.first_name %></b>
		</div>


		<div class="profileinfo">
			<div class="profileimg">
				<img id="profilepic" src="<%= @user.img_url %>">
			</div>
			<br>

			<p id="stats"><b><%= @user.first_name %> <%= @user.last_name %>'s Stats</b></p>

			<p> Upcoming Challenges: <span class="badge"><%= @user.challenges.count %></span> </p>
			<p> Number of Posts: <span class="badge"><%= @user.posts.count %></span> </p><br>

			<%= link_to "Edit Profile", edit_user_path(current_user), :class => 'btn btn-primary'%>
			<br>
			<Br>
			<br>
			<p id="instructions">
				<h3>What you can do:</h3><br>
					Create your own Challenge<Br>
					Join/Leave a Challenge<br>
					Comment on a Challenge Page
			</p>
		</div>
	</div>


	<div id="userchallenges" class="col-xs-12 col-md-8">

		<p id="upcoming">UPCOMING CHALLENGES</p>
		<br>

		<div class="container">

		<% @user.challenges.each do |challenge| %>
			<div>
			  <div class="col-sm-5 col-md-6">
			    <div class="thumbnail">
				      <img id="challengepic1" src="<%= challenge.img_url %>">
				      	<h4 class="createform">
				        <%= link_to challenge.name, challenge_path(challenge) %></h4>
			      </div>
			    </div>
			  </div>
		<% end %> 
	</div>
</div>


