<%= form_for @post do |f| %>
	<div>
		<%= f.text_field :comment, placeholder: "Comment", required: true %>
	</div>
	<div>
		<%= f.text_field :picture, placeholder: "Picture URL" %>
	</div>

	<div>
		<%= f.collection_select :challenge_id, @challenges, :id, :name %>
	</div>

	<%= f.submit %>
<% end %>