
<h2><%= @challenge.name %></h2>

<%= @post.comment %><br>
<img src="<%= @post.picture %>"/>


<%# if the post owner is not logged in, do not show delete button %>



<%= button_to "Edit Post", edit_post_path(@post), :method => :get %>
<%= button_to "Delete Post", @post, :method => :delete %>