<h1 id="h1user"><%= @challenge.name %></h1>

<div class="createform">
	<%= form_for @post do |f| %>
		<div>
			<%= f.text_field :comment, placeholder: "Comment", required: true %>
		</div>
		<br>
		<div>
			<%= f.url_field :picture, placeholder: "Picture URL" %>
		</div>
		<br>
		<%= f.submit "Update Post" %>
	<% end %>
</div>