
<h1 id="h1user">Add a Post</h1>

<div class="createform">
	<%= form_for @post do |f| %>
		<div>
			<%= f.text_field :comment, placeholder: "Comment", required: true %>
		</div>
		<br>
		<div>
			<%= f.url_field :picture, placeholder: "Picture URL" %>
		</div>
		<br>
		<div>
			<%= f.collection_select :challenge_id, @challenges, :id, :name %>
		</div>
		<br>
		<%= f.submit %>
	<% end %>
</div>