
<h1 id="h1user"><%= @challenge.name %></h2>


<div class="createform">
<b id="poststyle"><%= @post.user.first_name.upcase %> said:</b> <%= @post.comment %><br>
<img src="<%= @post.picture %>"/>
<Br><br>
<% if current_user && current_user.id == @post.user_id %>
	<%= button_to "Edit Post", edit_post_path(@post), :method => :get, :class => 'btn btn-primary' %><br>
	<%= button_to "Delete Post", @post, :method => :delete, :class => 'btn btn-danger'%>
<% end %>
</div>