
<h1 id="h1user"><%= @challenge.name %></h2>


<div class="createform">
<%= @post.comment %><br>
<img src="<%= @post.picture %>"/>
<Br><br>
<% if current_user && current_user.id == @post.user_id %>
	<%= button_to "Edit Post", edit_post_path(@post), :method => :get %><br>
	<%= button_to "Delete Post", @post, :method => :delete %>
<% end %>
</div>