<!DOCTYPE html>
<html>
<head>
  <title>ChallengeApp</title>
  <link href='https://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<header class='clearfix'>
	<nav class="navbar navbar-default">
		<a class="navbar-brand" id="brveicon" href="/">BRVE</a>
		<% if not current_user %>
			<div>
			<ul>
			<li class="signuplink"><%= link_to "Sign Up", new_user_path %></li>
			</ul>
			</div>
		<% else %>
			<ul class="nav navbar-nav navbar-right navbar-static-top">
			  	<li id="AC"><%= link_to "Add Challenge", new_challenge_path %></li>
			 	<li id="SO"><%= link_to "Sign Out", logout_path, :method => :delete %></li>
			</ul>
		<% end %>
	</nav>
</header>

<body>

<%= yield %>
<%= console %>

</body>
</html>
