<!DOCTYPE html>
<html>
<head>
  <title>ChallengeApp</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>

</head>
<header class='clearfix'>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
	      	<a class="navbar-brand" id="brveicon" href="/">BRVE</a>
    	</div>
		

		 <div class="nav navbar-nav navbar-right collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<% if not current_user %>
			<div>
				<ul class="nav navbar-nav navbar-right">
				<li class="homelink"><%= link_to "Sign Up", new_user_path %></li>
				<li class="homelink" id="SO"><%= link_to "Log In", sign_in_path %></li>
				</ul>
			</div>
			<% else %>
			<div>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "#{current_user.first_name}", user_path(current_user) %></li>
					<li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
					<li><%= link_to "Challenges", challenges_path %></li>
				  	<li id="AC"><%= link_to "Add Challenge", new_challenge_path %></li>
				 	<li id="SO"><%= link_to "Sign Out", logout_path, :method => :delete %></li>
				</ul>
			</div>
			<% end %>
		</div>
		</div> <!-- container fluid -->
	</nav>
</header>

<body>

<article>
	<%= yield %>
</article>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>
