<div class="col-md-4 col-md-offset-4">
<%= form_for @challenge do |f| %>
	<div>
		<%= f.text_field :name, placeholder: "Name", size: '60x6', required: true %>
	</div>
	<Br>
	<div>
		<%= f.text_field :description, placeholder: "Description", size: '60x20', required: true %>
	</div>
	<Br>
	<div>
		<label> Goal Date </label>
		<%= f.date_select :goal_date, placeholder: "Goal Date", required: true %>
	</div>
	<br>
	<div> 
		<%= f.text_field :reward, placeholder: "Reward", size: '60x6', required: true %>
	</div><br>
	<%= f.url_field :img_url, placeholder: "Challenge Picture"%>
	<br>
	<br>
	<%= f.submit :class => "btn btn-primary" %>
<% end %>
</div>