<h1><%= @challenge.name %></h1>

<div>Description:
	<%= @challenge.description %>
</div>
<div>
	<%= @challenge.goal_date %>
</div>
<div>
	<%= @challenge.reward %>
</div>
	<%= link_to "Delete Challenge", @challenge, method: :delete %>
	<br>

<h1>Posts for Challenge</h1>

<% @challenge.posts.each do |post| %>
	<div>
		<h3><%= link_to post.comment, post_path(post) %></h3>
		<img src="<%= post.picture %>"/><br>
	</div>
<% end %> 


<div>
<%= link_to "Create a Post", new_post_path %>
</div>

<h1>Members in this Challenge</h1>

<% @challenge.users.each do |u| %>
	<div>
		<%= u.first_name %>
	</div>
<% end %>




