<h1 id="h1user"><%= @challenge.name %></h1>

<div id="challengeinfo">	
	<div>Description:
		<%= @challenge.description %>
	</div>
	<div>Goal Date: 
		<%= @challenge.goal_date %>
	</div>
	<div>Goal Reward: 
		<%= @challenge.reward %>
	</div>
</div>

<%= button_to "Leave Challenge", @challenge_users, :method => :delete %>



<% if current_user && current_user.id == @challenge.creator_id %>

	<%= button_to "Edit Challenge", edit_challenge_path(@challenge), :method => :get %>

	<%= button_to "Delete Challenge", @challenges, method: :delete %>

<% end %>


<div class="postbody">
	<h1 class="posttitle">Posts for Challenge</h1>

	<% @challenge.posts.each do |post| %>
		<div>
			<%= link_to post.comment, post_path(post) %>
			<img src="<%= post.picture %>"/><br>
		</div>
	<% end %> 



	<Br>
	<div>
	<%= link_to "Create a Post", new_post_path %>
	</div>

	<h1 class="posttitle">Members in this Challenge</h1>

	<% @challenge.users.each do |u| %>
		<div>
			<%= u.first_name %>
		</div>
	<% end %>
</div>



