<h1><%= @challenge.name %></h1>

<div>Description:
	<%= @challenge.description %>
</div>
<div>
	<%= @challenge.goal_date %>
</div>
<div>
	<%= @challenge.reward %>
</div>
	<%= link_to "Delete Challenge", @challenge, method: :delete %>
	<br>

<h1>Posts for Challenge</h1>

<% @challenge.posts.each do |post| %>
	<div>
		<h3><%= post.comment %></h3>
		<%= post.picture %><br>
	</div>
<% end %> 

<h1>Members in this Challenge</h1>
<% #this will be simiar to above? Want to get users to join challenge first (if they didnt create it), and then have them show up on the challenge page %>




